nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5rem;
  font-size: 27px;
  background-color: #D37676;
  height: 70px;
}

.nav-item {
  color: #000000;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.nav-item:hover {
  color: #FEFBF6;
}

.product-container h1, .cart-container h1, h2 {
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
}

.product-card {
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #F6F5F5;
  border: 1px solid #000000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.product-card p {
  margin: 10px 0;
  font-size: 15px;
  font-family: system-ui;
}

.product-card button {
  padding: 8px 12px;
  background-color: #D37676;
  color: #222222;
  font-family: system-ui;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.product-card button:hover {
  border: 2px solid #333333;
  color: #FEFBF6;
}

.cart-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #0000;
  border-radius: 8px;
  background-color: #F6F5F5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 12px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item p {
  flex: 1;
  margin-left: 20px;
  font-size: 17px;
  font-family: system-ui;
}

.cart-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-buttons button {
  padding: 8px 12px;
  background-color: #D37676;
  color: #222222;
  font-family: system-ui;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.cart-buttons button:hover {
  border: 2px solid #333333;
  color: #FEFBF6;
}

.cart-buttons .remove-btn {
  padding: 8px 12px;
  background-color: #D37676;
  color: #222222;
  font-family: system-ui;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.cart-buttons .remove-btn:hover {
  border: 2px solid #333333;
  color: #FEFBF6;
}

.quantity {
  padding: 0.5rem;
}